{% extends 'main.html' %}
{% block style %}
<style>
  div.lab4_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
  }

  td {
    text-align: center;
  }
</style>
{% endblock style %}

{% block content %}
{% include 'lab_4/navbar.html' %}

<div class="container-lg lab4_container">
  <h1>My Notes</h1>
  <table class="table table-dark table-hover">
    <thead>
      <tr>
        <td>From</td>
        <td>To</td>
        <td>Title</td>
        <td>Message</td>
      </tr>
    </thead>
    <tbody>
      {% for note in notes %}
      <tr>
        <td>{{note.note_from}}</td>
        <td>{{note.to}}</td>
        <td>{{note.title}}</td>
        <td>{{note.message}}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% endblock content %}
