{% extends 'main.html' %}
{% block style %}
<style>
  h1 {
    text-align: center;
  }

  div.card {
    margin-right: 10px;
  }
</style>
{% endblock style %}

{% block content %}
{% include 'lab_4/navbar.html' %}

<div class="container-lg">
  <h1>My Notes</h1>
  <div class="d-flex flex-wrap">
    {% for note in notes %}

    <div class="card border-success mb-3" style="max-width: 18rem;">
      <div class="card-header bg-transparent text-black border-success">To: {{note.to}}</div>
      <div class="card-body text-success">
        <h5 class="card-title">{{note.title}}</h5>
        <p class="card-text">{{note.message}}</p>
      </div>
      <div class="card-footer bg-transparent border-success text-black">From: {{note.note_from}}</div>
    </div>

    {% endfor %}
  </div>
</div>
{% endblock content %}
