{% extends 'main.html' %}
{% block style %}
<style>
  h1 {
    text-align: center;
  }
</style>
{% endblock style %}
{% block content %}
{% include 'lab_4/navbar.html' %}

<div class="container">
  <h1>Add Note</h1>
  <form class="form" action="" method="POST">
    {% csrf_token %}
    {% for field in form %}
    <div class="mb-3">
      <label for="{{field.label}}" class="form-label">{{field.label}}</label>
      {{field}}
    </div>
    {% endfor %}
    <div class="col-auto">
      <button type="submit" class="btn btn-primary mb-3">Submit</button>
    </div>
  </form>
</div>
{% endblock content %}
