<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Add Friend</title>
  <style>
    * {
      padding: 0;
      margin: 0;
    }

    body {
      background-color: #121212;
      font-family: 'Open Sans', sans-serif;
      font-size: 16px;
      height: 100vh;
      width: 100vw;
      display: flex;
      justify-content: center;
      align-items: center;
      color: #FF5C58;
    }

    h1 {
      margin-bottom: 2rem;
      text-align: center;
    }

    .form__field {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-bottom: 1.2rem;
    }

    input {
      border: 2px solid #FF5C58;
      border-radius: 5px;
      padding: 4px;
      width: 10rem;
    }

    input.btn {
      width: 5rem;
    }

    input:focus {
      outline: none;
    }

    label {
      margin-bottom: 0.5rem;
    }

    input:focus {
      outline: none;
      border: 2px solid #fff;
    }

    input.btn {
      background-color: #FF5C58;
      color: #fff;
      cursor: pointer;
    }

    input.btn:hover {
      background-color: #DD3413;
    }

    form {
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    .alert {
      margin-bottom: 1.2rem;
    }

    input
  </style>
</head>

<body>
  <div class="container">
    <h1>Add Your Friend</h1>
    <form class="form" action="" method="POST">
      {% csrf_token %}
      {% for field in form %}
      <div class="form__field">
        <label>{{field.label}}</label>
        {{field}}
      </div>
      {% endfor %}
      {% if form.errors %}
      {% for field in form %}
      {% for error in field.errors %}
      <div class="alert">
        <strong>{{ error|escape }}</strong>
      </div>
      {% endfor %}
      {% endfor %}
      {% endif %}
      <input class="btn" type="submit" value="Submit" />
    </form>
  </div>
</body>

</html>
