<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Lab 3</title>
  <style>
    * {
      margin: 0;
      padding: 0;
    }

    body {
      background-color: #121212;
      color: #fff;
      font-family: 'Open Sans', sans-serif;
      font-size: 16px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      width: 100vw;
      height: 100vh;
    }

    table,
    td {
      border: 1px solid #fd3212;
    }

    td {
      padding: 5px;
      text-align: center;
    }

    tr:nth-child(1) {
      font-weight: bold;
    }

    div {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }

    h1 {
      text-align: center;
      margin-bottom: 2rem;
    }
  </style>
</head>

<body>
  <h1>Your Fiends List</h1>
  <table>
    <tr>
      <th>Name</th>
      <th>NPM</th>
      <th>DOB</th>
    </tr>
    <!-- TODO loop from Friend model -->
    <!-- EXAMPLE SECTION -->
    {% if friends %}
    {% for friend in friends %}
    <tr>
      <td>{{friend.name}}</td>
      <td>{{friend.npm}}</td>
      <td>{{friend.dob}}</td>
    </tr>
    {% endfor %}
    {% endif %}
    <!-- END SECTION -->
  </table>
</body>

</html>
