<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Lab 2</title>
  <style>
    table,
    td {
      border: 1px solid #fd3212;
    }

    td {
      padding: 5px;
      text-align: center;
    }

    tr:nth-child(1) {
      font-weight: bold;
    }

    div {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }

    h1 {
      text-align: center;
    }
  </style>
</head>

<body>
  <div>
    <h1>My Notes</h1>
    <table>
      <tr>
        <td>From</td>
        <td>To</td>
        <td>Title</td>
        <td>Message</td>
      </tr>
      {% for note in notes %}
      <tr>
        <td>{{note.note_from}}</td>
        <td>{{note.to}}</td>
        <td>{{note.title}}</td>
        <td>{{note.message}}</td>
      </tr>
      {% endfor %}
    </table>
  </div>

</body>

</html>
