@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

* {
  padding: 0;
  margin: 0;
  list-style: none;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
}

body {
  background: #121212;
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  color: #fff;
  overflow-x: hidden;
}
